:root {
	--background-color: white;
	--text-color: black;
}

body {
	margin: 0 25px;
	font-family: "Source Sans 3", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--text-color);
	text-align: left;
	min-height: 100vh;
	background-color: var(--background-color);
}

h1,
h2 {
	font-family: "Playfair Display", serif;
}

a {
	color: var(--text-color);
}


.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	max-width: 500px;
	width: 100%;
	margin: 100px auto;
}

.section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
	max-width: 500px;
	width: 100%;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: black;
		--text-color: white;
	}
}

/* HERO */

.hero-container {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
}

.hand {
	display: inline-block;
}

.hand:hover {
	animation: wave 2s infinite;
	cursor: pointer;
}

@keyframes wave {
	0% {
		transform: rotate(0deg);
	}

	10% {
		transform: rotate(14deg);
	}

	20% {
		transform: rotate(-8deg);
	}

	30% {
		transform: rotate(14deg);
	}

	40% {
		transform: rotate(-4deg);
	}

	50% {
		transform: rotate(10deg);
	}

	60% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.image {
	height: 120px;
	width: 120px;
}

@media screen and (max-width: 600px) {
	.hero-container {
		flex-direction: column;
		gap: 30px;
	}
}

/* Footer */

.footer {
	width: 100%;
	text-align: center;
	font-size: 0.8rem;
	opacity: 0.7;
	margin: 10px 0;
}
